.product-card-box{
    margin: 10px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card-box li{
    width: 90%;
    margin: 10px 0;
    border: 1px solid var(--grayCards);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
}

.product-card-box li:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 8px -4px black;
}

.product-flag{
    background-color: var(--cardRed);
    color: white;
    padding: 7px;
    border-radius: 2px;
    width: 60%;
    margin-left: 14px;
    margin-top: 13px;
    text-align: center;
}

.product-image-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.product-image{
    width: 200px;
    height: 150px;
}

.product-name{
    color: var(--addToCart);
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    margin: 5px 0;
}

.product-price{
    font-size: 26px;
    padding-left: 20px;
    margin: 10px 0;
}

.product-coupon{
    padding-left: 20px;
    margin-bottom: 20px;
}

.product-coupon-bold{
    font-weight: 900;
}

.product-addToCart-button{
    width: 80%;
    height: 45px;
    background-color: var(--addToCart);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 20px;
    transition: 0.2s;
    cursor: pointer;    
}

.product-addToCart-button:hover{
    opacity: 0.6;
}



.product-price-coupon-button{
    display: flex;
    flex-direction: column;
}

.disabled{
    display: none;
}

@media (min-width: 768px){
    .product-card-box {
        margin: 10px 10px;
        width: 100%;
    }

    .product-card-box li{
    width: 30%;
    margin: 10px 10px;
    border: 1px solid var(--grayCards);
    }

 
}

@media (min-width: 1280px){
    .product-card-box li {
        width: 22%;
    }

    .product-image{
        max-width: 95%;
    }
}