@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}

div#root{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

:root {
    --grayCards: #BCBCBC;
    --bannerColor: #AF0E4E;
    --grayOptionBar: #555555;
    --addToCart: #0D5C91;
    --cardRed: #AF0200;
    --white-clear: #F8F8F8;
    --redSale: #E02020;
}

a {
    text-decoration: none;
}