.logoIcon-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.utilityBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.iconList{
    display: flex;
    align-items: center;
}

.iconList li {
    margin: 2px 15px;
}

.iconList li img {
    width: 20px;
}

.button-menu{
    margin-left: 20px;
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-direction: row;
}

.iconBars{
    width: 30px;
}

.search-input-container{
    width: 75%;
    display: flex;
    align-items: center;
}

.search-input{
    width: 92%;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: 0.5px solid var(--grayOptionBar);
    padding-left: 15px;
}

.search-icon-container{
    background-color: black;
    width: 18px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon-container button{
    background-color: black;
    border: black 1px solid;
}

.dropdown-menu{
    color: white;
    width: 100%;
}

.dropdown-menu li{
    background-color: black;
    border: white 1px solid;
}

.dropdown-menu-ul{
    background-color: white;
    color: black;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.dropdown-menu-ul li{
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-option{
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.menu-option a, .dropdown-menu-ul a{
    width: 100%;
}

li ul li a, .menu-option a{
    color: white;
}

img.arrow-rotate-down{
    transform: rotate(180deg);
    width: 10px;
}

img.arrow-rotate-right{
    transform: rotate(90deg);
    width: 10px;
}

.dropdown-menu-ul li a {
    font-size: 14px;
    line-height: 14px;
    color: black;
    padding: 13px 0px;
    text-align: start;
    font-weight: 100;
}

.dropdown-menu-ul li img {
    margin: -6px 10px;
    max-width: 45.5px;
    max-height: 25px;
}

#sale{
    color: var(redSale);
}

.showDesktopOnly{
    display: none;
}


.showNotOnDesktop{
    display: flex;
}

@media (min-width: 1280px){
    .logoIcon-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.logo{
        width: 50%;
    }

    .utilityBar{
        width: 50%;
        justify-content: flex-end;
    }

    .search-icon-container {
        padding: 15px;
    }

    .button-menu {
        justify-content: flex-end;
    }

    .dropdown-desktop{
        width: 100%;
        order: 2;
    }

    .search-input-container {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .logoIcon-container {
        justify-content: flex-end;
    }
    
    .dropdown-menu ul{
        display: flex;
        flex-direction: row;
    }

    .dropdown-menu-ul{
        background-color: var(--white-clear);
        justify-content: center;

    }
    
    .dropdown-menu-ul li {
        background-color: var(--white-clear) !important;
        margin: 0 20px;
        width: auto;
    }

    .dropdown-menu ul li{
        background-color: white;
        color: black;
        font-weight: 800;
        border: none;
        justify-content: center;        
    }



    .dropdown-menu-ul li a {
        text-align: center;
        font-weight: 100;
        width: 100%;
        text-align: center;

    }

    .dropdown-menu-ul li a img{
        display: none;
    }

    .menu-option, .menu-option a{
        color: black;
    }

    .showDesktopOnly{
        display: flex;
    }

    .showNotBars{
        display: none;
    }

    .showNotOnDesktop{
        display: none !important;
    }
}