.logoIcon-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.utilityBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.iconList{
    display: flex;
    align-items: center;
}

.iconList li {
    margin: 2px 15px;
}

.iconList li img {
    width: 20px;
}

.button-menu{
    margin-left: 20px;
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.iconBars{
    width: 30px;
}

.search-input-container{
    width: 75%;
    display: flex;
}

.search-input{
    width: 92%;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: 0.5px solid gray;
    padding-left: 15px;
}

.search-icon-container{
    background-color: black;
    width: 18px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu{
    color: white;
}

.dropdown-menu li{
    background-color: black;
    border: white 1px solid;
}

.dropdown-menu-ul{
    background-color: white;
    color: black;
}

.dropdown-menu-ul li{
    background-color: white;
    color: black;
    border-bottom: 1px solid #000;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-option{
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.menu-option a, .dropdown-menu-ul a{
    width: 100%;
}

li ul li a, .menu-option a{
    color: white;
}

img.arrow-rotate-down{
    transform: rotate(180deg);
    width: 10px;
}

img.arrow-rotate-right{
    transform: rotate(90deg);
    width: 10px;
}

.dropdown-menu-ul li a {
    font-size: 14px;
    line-height: 14px;
    color: black;
    padding: 13px 0px;
}

.dropdown-menu-ul li img {
    margin: -6px 10px;
    max-width: 45.5px;
    max-height: 25px;
}

#sale{
    color: red;
}
