.optionsBar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

.optionsBar-container li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 20px;
    font-size: 18px;
}

.optionsBar-container li a{
    color: var(--grayOptionBar);
}

@media (min-width: 1280px) {
    .optionsBar-container li{
        margin: 15px 35px;
        font-size: 24px;
    }
}