.pcTablet-h1{
    margin: 10px 0;
    text-align: center;
    display: none;
}

.product-filter-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-button{
    width: 160px;
    padding: 10px;
    padding-left: 13px;
    background: white;
    border-radius: 5px;
    border: 1px solid var(--grayCards);
    height: 41.6px;
    font-size: 15px;
    text-align: start;
    margin-top: 10px
}

.filter-container, .result-select{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container h2{
    padding-top: 5px;
}

.filter-container ul{
    padding: 10px 0;
}

.filter-container ul li{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.product-filter-container{
    border-top: 1px solid var(--grayCards);
}

.result-select div p, .result-select div select{
    margin: 10px 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

.products-container{
    width: 100%;
    border-top: 1px solid var(--grayCards);
}

.products-container p.results{
    text-align: center;
    margin: 10px 0;
}

.products-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 5px;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: black;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  hr{
    width: 100%;
    height: 1px;
    background: var(--grayCards);
  }

  @media (min-width: 768px) {

    .result-select div select{
      font-weight: 700;
    width: 200px;
    margin-top: 20px;
    }

    .products-container ul {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
  }
  }

  @media (min-width: 1280px){

    .result-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    }

    .product-filter-container {
      flex-direction: row;
      flex-wrap: nowrap;
  }

  .filter-container{
    border-bottom: 1px solid black;
    height: 100%;
    align-items: flex-start;
    width: 25%;
  }

    .pcTablet-h1{
      display: block;
      font-size: 32px;
      text-align: start;
      margin-top: 50px;
  }

  .products-container p.results{
    margin-left: 40px;
    font-weight: 700;
}

  .product-big-container{
    width: 80%;
    align-self: center;
  }
  }